*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}
.header-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav ul{
    display: flex;
    gap: 82px;
}
.logo{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    transition: 300ms;
    border: 1px transparent solid;
}
.logo:hover{
    transform: scale(1.2);
    border: 1px red solid;
}
.header-nav ul a{
    color: white;
    font-size: 25px;
}
.header-nav ul li{
    transition: 300ms;
}
.header-nav ul li:hover{
    transform: scale(1.2);
}
.header{
    background: url(../img/headerBg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 145px;
}

.header-content a{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    border-radius: 10px;
    background: #FFF;   
    padding: 10px 24px;
    transition: 400ms;
}
.header-content a:hover{
    color: white;
    background: black;
    transform: scale(1.1);
}
.about{
   padding: 30px 0 112px; 
   background: #0E1C25;
}
.title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 49px;
}
.about .container{
    display: flex;
    align-items: center;
    gap: 106px;
    color: white;
}
.about-content h3{
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 64px;
}
.about-content p{
    font-size: 18px;
    max-width: 466px;
    text-align: justify;
}

.works{
    background: #5C6B81;
    padding: 43px 0 70px;    
}
.works-card{
    width: 312px;
    border-radius: 10px;
    background: #B12B06;
    text-align: center;
    color: white;
    padding: 15px 15px 27px;
    display: flex;
    gap: 23px;
    flex-direction: column;
    align-items: center;
}
.works-card a{
    color: black;
    background: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 24px;
}

.works .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.footer{
    background: black;
    padding: 47px 0 62px;
}
.footer .title{
    font-weight: 400;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.footer-social a:first-child{
    animation: rotating 1s infinite;
}
.footer-social a:first-child{
    animation: rotating 1s infinite;
}

@keyframes rotating {
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0);
    }
}
